@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.main {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  padding-top: 112px;
}

.main__background {
  background-image: url(../../images/main-background.jpg);
  height: calc(100% - 112px);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .2;
  position: absolute;
  z-index: -1;
}

.main__title-container {
  display: flex;
  align-items: center;
  margin: 40px 90px;
}

.main__title-container:nth-child(2) {
  margin: 80px 90px 40px;
}

.main__title-container:nth-child(4) {
  margin: 40px 90px 80px;
}

.main__title-icon {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: rotation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.main__title-icon_red {
  background-image: url(../../images/gear-red.png);
}

.main__title-icon_black {
  background-image: url(../../images/gear-black.png);
}

.main__title-text {
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 0 30px;
}