.about-as {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
  z-index: 2;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.9);
  padding: 20px 0;
}

.about-as__title {
  font-size: 26px;
  text-align: center;
  margin: 0 0 10px;
}

.about-as__tagets {
  margin: 0 auto;
  padding: 0 40px;
}

.about-as__taget {
  font-size: 14px;
  line-height: 18px;
  margin: 17px;
  font-weight: 500;
}

@media screen and (max-width: 850px) {
  .about-as {
    border-radius: 0;
  }

  .about-as__tagets {
    padding: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .about-as {
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  .about-as__title {
    font-size: 20px;
    margin: 0;
  }

  .about-as__tagets {
    padding: 0 20px;
  }
}
