.navigation__list {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
	margin: 7px 0;
}

.navigation__link {
	text-decoration: none;
	color: #FFF;
	transition: all .3s ease;
	line-height: 16px;
	padding: 4px;
  font-size: 14px;
}

.navigation__link:hover {
	opacity: .7;
}

.navigation__link_type_active {
	font-size: 16px;
	line-height: 16px;
	background-color: rgb(190, 0, 0);
}

