.promotions__list-item {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 30px 0;
}

.promotions__image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 20px 0 0;
  border-radius: 20px;
}

.promotions__image_car-bottom {
  background-image: url(../../images/promotions-car-bottom.jpg);
}

.promotions__image_oil {
  background-image: url(../../images/promotions-oil.png);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
}

.promotions__image_car {
  background-image: url(../../images/promotions-car.jpg);
}

.promotions__description {
  width: calc(100% - 300px);
}

.promotions__title {
  margin-top: 0;
  font-size: 26px;
}

.promotions__text {
  font-size: 14px;
}