.contacts {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
  z-index: 2;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 30px;
}

.contacts__title {
  font-size: 26px;
  text-align: center;
  margin: 0 0 20px;
}

.contacts__container-work {
  border: 1px solid #AAA;
  width: 250px;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(250, 250, 250, 0.9);
}

.contacts__work {
  font-size: 14px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.contacts__work span {
  font-size: 14px;
  margin-left: 20px;
  border: 1px solid #AAA;
  background-color: #DDD;
  padding: 0 7px;
}

.contacts__work:first-of-type {
  font-size: 22px;
  line-height: 27px;
  font-weight: 900;
  margin-bottom: 20px;
}

.contacts__masters {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin: 20px 0 30px;
}

.contacts__master {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #AAA;
  border-radius: 20px;
  background-color: rgba(250, 250, 250, 0.9);
}

.contacts__photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.contacts__name {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 15px 0 0;
}

.contacts__job {
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 10px 0 0;
  color: #E42A24;
}

.contacts__connection {
  color: #000;
  font-size: 14px;
  font-weight: 900;
  border: none;
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0 15px;
  transition: all .1s ease;
  cursor: pointer;
  background: none;
}

.contacts__connection:hover {
  transform: scale(1.02);
  opacity: .9;
}

@media screen and (max-width: 750px) {
  .contacts__title {
    font-size: 20px;
  }

  .contacts__work:first-of-type {
    font-size: 16px;
  }

  .contacts__masters {
    gap: 20px;
  }

  .contacts__photo {
    width: 150px;
    height: 150px;
  }

  .contacts__name {
    font-size: 14px;
  }

  .contacts__job {
    font-size: 14px;
  }

  .contacts__connection {
    width: 150px;
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .contacts {
    margin-top: 20px;
  }

  .contacts__title {
    margin: 0 20px 20px;
  }
}

@media screen and (max-width: 540px) {
  .contacts__masters {
    flex-wrap: wrap;
    width: calc(100% - 40px);
    margin: 20px auto;
  }

  .contacts__master {
    margin: 0 0 20px 0;
  }

  .contacts__work:first-of-type {
    font-size: 18px;
    line-height: 22px;
  }

  .contacts__container-work {
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .contacts__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 370px) {
  .contacts__photo {
    width: 200px;
    height: 200px;
  }
}
