.address {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
  padding-top: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.address__background {
  background-image: url(../../images/about-as-background.jpg);
  width: 100%;
  height: calc(100% - 112px);
  background-repeat: no-repeat;
  opacity: .1;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.address__title {
  text-align: center;
  font-size: 30px;
}

.address__map {
  width: 100%;
  border-top: 1px solid #000;
}