.address {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
  padding-top: 78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.address__background {
  background-image: url(../../images/background-about-as.jpg);
  width: 100%;
  height: calc(100% - 78px);
  background-repeat: no-repeat;
  opacity: .1;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.address__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address__title {
  text-align: center;
  font-size: 26px;
}

.address__map {
  width: 80%;
  border: 1px solid rgb(230, 20, 20);
  box-sizing: border-box;
  height: 60vh;
}

@media screen and (max-width: 600px) {
  .address {
    padding-top: 93px;
  }

  .address__background {
    height: calc(100% - 93px);
  }

  .address__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .address {
    padding-top: 130px;
  }

  .address__background {
    height: calc(100% - 130px);
  }

  .address__title {
    font-size: 20px;
  }

  .address__map {
    height: max(calc(100vh - 280px), 150px);
  }
}