.address {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
  padding-top: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.address__background {
  background-image: url(../../images/about-as-background.jpg);
  width: 100%;
  height: calc(100% - 112px);
  background-repeat: no-repeat;
  opacity: .1;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.address__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address__title {
  text-align: center;
  font-size: 30px;
}

.address__map {
  width: 80%;
  border: 1px solid rgb(230, 20, 20);
  box-sizing: border-box;
}