.map {
  width: 100%;
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #FFF;
}

.map__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.map__title {
  text-align: center;
  font-size: 26px;
  margin-top: 0;
}

.map__iframe {
  width: 90%;
  border: 1px solid rgb(230, 20, 20);
  box-sizing: border-box;
  height: 55vh;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .map {
    margin-top: 20px;
  }

  .map__title {
    font-size: 22px;
    margin: 0 20px 20px;
  }
}

@media screen and (max-width: 480px) {
  .map__title {
    font-size: 20px;
  }

  .map__iframe {
    height: max(calc(100vh - 280px), 150px);
  }
}
