.reception {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding-top: 112px;
}

.reception__background {
  background-image: url(../../images/about-as-background.jpg);
  width: 100%;
  height: calc(100% - 112px);
  background-repeat: no-repeat;
  opacity: .1;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.reception__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.reception__title {
  font-size: 30px;
}

.reception__button {
  width: 200px;
  align-self: flex-start;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  border-radius: 5px;
  height: 38px;
  text-align: center;
  transition: all .5s ease;
  will-change: transform;
  cursor: pointer;
  align-self: center;
  margin: 20px 10px;
}

.reception__button_editing {
  background: none;
  border: solid 1px #000;
}

.reception__button_reset {
  background-color: rgb(230, 20, 20);
  border: solid 1px rgb(230, 20, 20);
  color: #FFF;
}

.reception__button:hover {
  transform: scale(1.05);
  opacity: .9;
}