.reception {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.reception__background {
  background-image: url(../../images/about-as-background.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: .1;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.reception__title {
  font-size: 30px;
}

.reception__form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.reception__label {
  margin: 25px 0 5px 0;
  font-size: 16px;
}

.reception__label:first-of-type {
  margin-top: 5px;
}

.reception__input {
  margin: 0 0 0 50px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 5px;
  height: 30px;
  padding: 0 8px;
  box-sizing: border-box;
}

.reception__registration-done {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reception__registration-img {
  background-image: url(../../images/reception-ok.svg);
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(230, 20, 20);
}

.reception__registration-title {
  font-size: 24px;
}

.reception__registration-text {
  font-size: 16px;
}

.reception__registration-data {
  font-size: 20px;
  font-weight: 900;
}

.reception__button {
  width: 200px;
  align-self: flex-start;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  border-radius: 5px;
  height: 38px;
  text-align: center;
  transition: all .5s ease;
  will-change: transform;
  cursor: pointer;
}

.reception__button_register {
  color: #000;
  background: none;
  margin: 20px 0 20px 50px;
  align-self: center;
}

.reception__button_reset {
  background-color: rgb(230, 20, 20);
  border: solid 1px rgb(230, 20, 20);
  color: #FFF;
  align-self: center;
  margin: 20px 0;
}

.reception__button:hover {
  transform: scale(1.05);
  opacity: .9;
}