.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration__img {
  background-image: url(../../images/reception-ok.svg);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(230, 20, 20);
}

.registration__title {
  font-size: 18px;
  margin: 10px 0;
}

.registration__text {
  font-size: 14px;
  margin: 6px 0;
}

.registration__data {
  font-size: 18px;
  font-weight: 900;
}